body {
	font-family: Roboto;
	margin: 0 auto;
	max-width: 80%;
}

h1 {
	background-image: url(https://lh3.googleusercontent.com/XnIv9SDwxcAyryDVYxcvRnRP1GB__4rmyPWNa1fyINrfaZDlAFmptyFxMg0ITQiWHVP1qHrV44m1VeZ02gwD=s0);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #65000B;
	color: white;
	text-align: center;
	border-radius: 10px;
	padding-top: 100px;
	padding-bottom: 100px;
}

h2 {
	font-style: italic;
}

h4 {
	font-weight: normal;
}

ol {
	list-style-type: none;
}

p {
	padding: 3px;
}

.lesson {
	margin: 5px;
	padding: 5px;
	background-color: gray;
	border-radius: 10px;
}

.lesson-title-bar {
	display: flex;
	margin: 5px;
}

.lesson-title {
	width: 80%;
}

.concept {
	background-color: silver;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}

.top-link {
	width: 20%;
	text-align: right;
}

.code {
	font-family: monospace;
	font-size: 14px;
}